{
  "swagger": "2.0",
  "info": {
    "description": "A delightful application to help you pay for your parking when you want instead of waiting in a line.",
    "version": "2.0.0",
    "title": "Mobile Pay",
    "termsOfService": "http://paylock.com/terms",
    "contact": {
      "name": "PayLock Engineering",
      "email": "engineers@paylock.com"
    },
    "license": {
      "name": "PayLock IPT, LLC",
      "url": "http://www.paylock.com/license"
    }
  },
  "host": "demo.citewriteit.com",
  "basePath": "/cws/parkbynexus",
  "tags": [
    {
      "name": "cards",
      "description": "A credit card belonging to the Owner"
    },
    {
      "name": "invoices",
      "description": "The Invoice for a Permit or Meter"
    },
    {
      "name": "lots",
      "description": "A Lot where a Permit may be applied"
    },
    {
      "name": "meters",
      "description": "Everything pertaining to parking meters"
    },
    {
      "name": "owners",
      "description": "Operations about the Owner"
    },
    {
      "name": "owner_attributes",
      "description": "The attributes of a specific Owner"
    },
    {
      "name": "permits",
      "description": "Everything pertaining to your Permits"
    },
    {
      "name": "permit_attributes",
      "description": "The attributes of a specific Permit"
    },
    {
      "name": "permit_types",
      "description": "The Type of Permit"
    },
    {
      "name": "permit_type_attributes",
      "description": "The attributes of a specific PermitType"
    },
    {
      "name": "privileges",
      "description": "The Privileges for a Permit"
    },
    {
      "name": "purchases",
      "description": "The Permits purchased from a Lot or Meter"
    },
    {
      "name": "states",
      "description": "The State where your Vehicle is registered"
    },
    {
      "name": "times",
      "description": "The Times available to a Meter"
    },
    {
      "name": "vehicles",
      "description": "Everything pertaining to your Vehicles"
    },
    {
      "name": "vehicle_attributes",
      "description": "The attributes for a specific Vehicle"
    },
    {
      "name": "vehicle_types",
      "description": "The Type of Vehicle for a specific Vehicle"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/forgot": {
      "get": {
        "tags": [
          "owners"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Forgot Password",
        "operationId": "getPasswordReset",
        "description": "Get a new password for the owner",
        "parameters": [
          {
            "name": "owner_id",
            "in": "query",
            "description": "The ID of the Owner",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.querystring.owner_id": "method.request.querystring.owner_id"
          },
          "uri": "https://demo.citewriteit.com/forgot",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "options": {
        "tags": [
          "owners"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "description": "Method or methods allowed when accessing the resource"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "description": "Used in response to a preflight request to indicate which HTTP headers can be used when making the request."
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "type": "mock"
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "owners"
        ],
        "summary": "Login",
        "description": "Login an Owner",
        "operationId": "loginOwner",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/OwnerResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Location": {
                "type": "string",
                "description": "URI of the newly created resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "201",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "uri": "http://demo.citewriteit.com/login",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      }
    },
    "/cards": {
      "get": {
        "tags": [
          "cards"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "List Cards",
        "operationId": "getCards",
        "description": "Get a list of Cards",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Where to start the list",
            "required": false,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "The number of records to get",
            "required": false,
            "type": "integer"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CardResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.querystring.start": "method.request.querystring.start",
            "integration.request.querystring.quantity": "method.request.querystring.quantity"
          },
          "uri": "https://demo.citewriteit.com/cards",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "post": {
        "tags": [
          "cards"
        ],
        "summary": "Store a new Card",
        "description": "Stores a Card for the Owner",
        "operationId": "storeCard",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Card object that needs to be added to the Owner",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Card"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CardResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Location": {
                "type": "string",
                "description": "URI of the newly created resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "201",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "uri": "http://demo.citewriteit.com/cards",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      },
      "options": {
        "tags": [
          "cards"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "description": "Method or methods allowed when accessing the resource"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "description": "Used in response to a preflight request to indicate which HTTP headers can be used when making the request."
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'POST,GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "type": "mock"
        }
      }
    },
    "/cards/{cc_storage_id}": {
      "get": {
        "tags": [
          "cards"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get a Card",
        "operationId": "getCardById",
        "description": "Get a specific Card",
        "parameters": [
          {
            "name": "cc_storage_id",
            "in": "path",
            "description": "The ID of the object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CardResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.cc_storage_id": "method.request.path.cc_storage_id"
          },
          "uri": "https://demo.citewriteit.com/cards/{cc_storage_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "put": {
        "tags": [
          "cards"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Update Card",
        "operationId": "updateCard",
        "description": "Update a specific Card",
        "parameters": [
          {
            "name": "cc_storage_id",
            "in": "path",
            "description": "The ID of the Card object",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The Card object with updated values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Card"
            }
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CardResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.cc_storage_id": "method.request.path.cc_storage_id"
          },
          "uri": "https://demo.citewriteit.com/cards/{cc_storage_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "PUT",
          "type": "http"
        }
      },
      "delete": {
        "tags": [
          "cards"
        ],
        "summary": "Delete Card",
        "description": "Delete a Card for the Owner",
        "operationId": "deleteCard",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "cc_storage_id",
            "required": true,
            "type": "integer",
            "format": "int64",
            "description": "The ID of the Card to delete"
          },
          {
            "in": "header",
            "name": "X-CSRF-Token",
            "required": true,
            "type": "string",
            "description": "The token of the user"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "required": [
                "success"
              ],
              "properties": {
                "success": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Card"
          },
          "404": {
            "description": "Card not found"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "options": {
        "tags": [
          "cards"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "description": "Method or methods allowed when accessing the resource"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "description": "Used in response to a preflight request to indicate which HTTP headers can be used when making the request."
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,PUT,DELETE,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "type": "mock"
        }
      }
    },
    "/cards/{cc_storage_id}/invoices": {
      "get": {
        "tags": [
          "cards",
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get a Card",
        "description": "Get a Invoices for a Card",
        "operationId": "getInvoicsesCardId",
        "parameters": [
          {
            "name": "cc_storage_id",
            "in": "path",
            "description": "The ID of the Card object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.cc_storage_id": "method.request.path.cc_storage_id",
            "integration.request.path.invoice_id": "method.request.path.invoice_id"
          },
          "uri": "https://demo.citewriteit.com/cards/{cc_storage_id}/invoices/{invoice_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "options": {
        "tags": [
          "cards",
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "description": "Method or methods allowed when accessing the resource"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "description": "Used in response to a preflight request to indicate which HTTP headers can be used when making the request."
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "type": "mock"
        }
      }
    },
    "/cards/{cc_storage_id}/invoices/{invoice_id}": {
      "get": {
        "tags": [
          "cards",
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get a Invoice for a Card",
        "operationId": "getInvoiceByIdAndCardId",
        "description": "Get a specific Invoice for a Card",
        "parameters": [
          {
            "name": "cc_storage_id",
            "in": "path",
            "description": "The ID of the Card object",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The ID of the Invoice object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.cc_storage_id": "method.request.path.cc_storage_id",
            "integration.request.path.invoice_id": "method.request.path.invoice_id"
          },
          "uri": "https://demo.citewriteit.com/cards/{cc_storage_id}/invoices/{invoice_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "put": {
        "tags": [
          "cards",
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Link Invoices to Cards",
        "operationId": "linkInvoicesIdToCardsId",
        "description": "Link Invoices to the Cards object",
        "parameters": [
          {
            "name": "cc_storage_id",
            "in": "path",
            "description": "The ID of the Cards object",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The ID of the Invoices object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.cc_storage_id": "method.request.path.cc_storage_id",
            "integration.request.path.invoice_id": "method.request.path.invoice_id"
          },
          "uri": "https://demo.citewriteit.com/cards/{cc_storage_id}/invoices/{invoice_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "PUT",
          "type": "http"
        }
      },
      "delete": {
        "tags": [
          "cards",
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Unlink Invoices From Cards",
        "operationId": "unlinkInvoicesIdFromCardsId",
        "description": "Remove the link between a Invoices object and a Cards object",
        "parameters": [
          {
            "name": "cc_storage_id",
            "in": "path",
            "description": "The ID of the Cards object",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The ID of the Invoices object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.cc_storage_id": "method.request.path.cc_storage_id",
            "integration.request.path.invoice_id": "method.request.path.invoice_id"
          },
          "uri": "https://demo.citewriteit.com/cards/{cc_storage_id}/invoices/{invoice_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "DELETE",
          "type": "http"
        }
      },
      "options": {
        "tags": [
          "cards",
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "description": "Method or methods allowed when accessing the resource"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "description": "Used in response to a preflight request to indicate which HTTP headers can be used when making the request."
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,PUT,DELETE,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "type": "mock"
        }
      }
    },
    "/invoices": {
      "get": {
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "List Invoices",
        "operationId": "getInvoices",
        "description": "Get a list of Invoices",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Where to start the list",
            "required": false,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "The number of records to get",
            "required": false,
            "type": "integer"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.querystring.start": "method.request.querystring.start",
            "integration.request.querystring.quantity": "method.request.querystring.quantity"
          },
          "uri": "https://demo.citewriteit.com/invoices",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "post": {
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Create Invoice",
        "description": "Create a Invoice",
        "operationId": "createInvoice",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "The Invoice object with updated values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "uri": "https://demo.citewriteit.com/invoices",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      },
      "options": {
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "description": "Method or methods allowed when accessing the resource"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "description": "Used in response to a preflight request to indicate which HTTP headers can be used when making the request."
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "type": "mock"
        }
      }
    },
    "/invoices/{invoice_id}": {
      "get": {
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get an Invoice",
        "operationId": "getInvoiceById",
        "description": "Get a specific Invoice",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The ID of the Invoice object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.invoice_id": "method.request.path.invoice_id"
          },
          "uri": "https://demo.citewriteit.com/invoices/{invoice_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "put": {
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Update Invoice",
        "operationId": "updateInvoice",
        "description": "Update a specific Invoice",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The ID of the Invoice object",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The Invoice object with updated values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.invoice_id": "method.request.path.invoice_id"
          },
          "uri": "https://demo.citewriteit.com/invoices/{invoice_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "PUT",
          "type": "http"
        }
      },
      "delete": {
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Delete Invoice",
        "operationId": "deleteInvoice",
        "description": "Delete a specific Invoice",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The ID of the Invoice object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.invoice_id": "method.request.path.invoice_id"
          },
          "uri": "https://demo.citewriteit.com/invoices/{invoice_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "DELETE",
          "type": "http"
        }
      },
      "options": {
        "tags": [
          "invoices"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "description": "Method or methods allowed when accessing the resource"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "description": "Used in response to a preflight request to indicate which HTTP headers can be used when making the request."
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,PUT,DELETE,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "type": "mock"
        }
      }
    },
    "/lots": {
      "get": {
        "tags": [
          "lots"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "List Lots",
        "operationId": "getLots",
        "description": "Get a list of Lots",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Where to start the list",
            "required": false,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "The number of records to get",
            "required": false,
            "type": "integer"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/LotResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.querystring.start": "method.request.querystring.start",
            "integration.request.querystring.quantity": "method.request.querystring.quantity"
          },
          "uri": "https://demo.citewriteit.com/lots",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "post": {
        "tags": [
          "lots"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Create Lot",
        "operationId": "createLot",
        "description": "Create a Lot",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "The Lot object with updated values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Lot"
            }
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/LotResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "uri": "https://demo.citewriteit.com/lots",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      },
      "options": {
        "tags": [
          "lots"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "description": "Method or methods allowed when accessing the resource"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "description": "Used in response to a preflight request to indicate which HTTP headers can be used when making the request."
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "type": "mock"
        }
      }
    },
    "/lots/{lot_id}": {
      "get": {
        "tags": [
          "lots"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get a Lot",
        "operationId": "getLotById",
        "description": "Get a specific Lot",
        "parameters": [
          {
            "name": "lot_id",
            "in": "path",
            "description": "The ID of the lot object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/LotResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.lot_id": "method.request.path.lot_id"
          },
          "uri": "https://demo.citewriteit.com/lots/{lot_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "put": {
        "tags": [
          "lots"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Update Lot",
        "operationId": "updateLot",
        "description": "Update a specific Lot",
        "parameters": [
          {
            "name": "lot_id",
            "in": "path",
            "description": "The ID of the Lot object",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The Lot object with updated values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Lot"
            }
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/LotResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.lot_id": "method.request.path.lot_id"
          },
          "uri": "https://demo.citewriteit.com/lots/{lot_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "PUT",
          "type": "http"
        }
      },
      "delete": {
        "tags": [
          "lots"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Delete Lot",
        "operationId": "deleteLot",
        "description": "Delete a specific Lot",
        "parameters": [
          {
            "name": "lot_id",
            "in": "path",
            "description": "The ID of the Lot object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.lot_id": "method.request.path.lot_id"
          },
          "uri": "https://demo.citewriteit.com/lots/{lot_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "DELETE",
          "type": "http"
        }
      },
      "options": {
        "tags": [
          "lots"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "description": "Method or methods allowed when accessing the resource"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "description": "Used in response to a preflight request to indicate which HTTP headers can be used when making the request."
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,PUT,DELETE,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "type": "mock"
        }
      }
    },
    "/lots/{lot_id}/permits": {
      "get": {
        "tags": [
          "lots",
          "permits"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "List Permits for a Lot",
        "operationId": "getPermitsByLotId",
        "description": "Get a list of Permits for a specific Lot",
        "parameters": [
          {
            "name": "lot_id",
            "in": "path",
            "description": "The ID of the Lot object",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Where to start the list",
            "required": false,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "The number of records to get",
            "required": false,
            "type": "integer"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PermitResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.lot_id": "method.request.path.lot_id",
            "integration.request.querystring.start": "method.request.querystring.start",
            "integration.request.querystring.quantity": "method.request.querystring.quantity"
          },
          "uri": "https://demo.citewriteit.com/lots/{lot_id}/permits",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "post": {
        "tags": [
          "lots",
          "permits"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Create and Link Permit to Lot",
        "description": "Create and link a Permit object to Lot",
        "operationId": "createAndLinkPermitToLotId",
        "parameters": [
          {
            "name": "lot_id",
            "in": "path",
            "description": "The ID of the Lot object",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The Permit object",
            "required": true,
            "type": "object",
            "schema": {
              "$ref": "#/definitions/Permit"
            }
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PermitResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Location": {
                "type": "string",
                "description": "URI that may access the new linked resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.lot_id": "method.request.path.lot_id"
          },
          "uri": "https://demo.citewriteit.com/lots/{lot_id}/permits",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      },
      "options": {
        "tags": [
          "lots",
          "permits"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "description": "Method or methods allowed when accessing the resource"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "description": "Used in response to a preflight request to indicate which HTTP headers can be used when making the request."
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "type": "mock"
        }
      }
    },
    "/lots/{lot_id}/permits/{mpermit_id}": {
      "get": {
        "tags": [
          "lots",
          "permits"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get a Permit for a Lot",
        "operationId": "getPermitByIdAndLotId",
        "description": "Get a specific Permit for a Lot",
        "parameters": [
          {
            "name": "lot_id",
            "in": "path",
            "description": "The ID of the Lot object",
            "required": true,
            "type": "string"
          },
          {
            "name": "mpermit_id",
            "in": "path",
            "description": "The ID of the Permit object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PermitResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.lot_id": "method.request.path.lot_id",
            "integration.request.path.mpermit_id": "method.request.path.mpermit_id"
          },
          "uri": "https://demo.citewriteit.com/lots/{lot_id}/permits/{mpermit_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "put": {
        "tags": [
          "lots",
          "permits"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Link Permit to Lot",
        "operationId": "linkPermitIdToLotId",
        "description": "Link Permit to the Lot object",
        "parameters": [
          {
            "name": "lot_id",
            "in": "path",
            "description": "The ID of the Lot object",
            "required": true,
            "type": "string"
          },
          {
            "name": "mpermit_id",
            "in": "path",
            "description": "The ID of the Permit object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PermitResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.lot_id": "method.request.path.lot_id",
            "integration.request.path.mpermit_id": "method.request.path.mpermit_id"
          },
          "uri": "https://demo.citewriteit.com/lots/{lot_id}/permits/{mpermit_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "PUT",
          "type": "http"
        }
      },
      "delete": {
        "tags": [
          "lots",
          "permits"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Unlink Permit From Lot",
        "operationId": "unlinkPermitIdFromLotId",
        "description": "Remove the link between a Permit object and a Lot object",
        "parameters": [
          {
            "name": "lot_id",
            "in": "path",
            "description": "The ID of the Lot object",
            "required": true,
            "type": "string"
          },
          {
            "name": "mpermit_id",
            "in": "path",
            "description": "The ID of the Permit object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/MessageResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.lot_id": "method.request.path.lot_id",
            "integration.request.path.mpermit_id": "method.request.path.mpermit_id"
          },
          "uri": "https://demo.citewriteit.com/lots/{lot_id}/permits/{mpermit_id}",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "DELETE",
          "type": "http"
        }
      },
      "options": {
        "tags": [
          "lots",
          "permits"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "description": "Method or methods allowed when accessing the resource"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "description": "Used in response to a preflight request to indicate which HTTP headers can be used when making the request."
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,PUT,DELETE,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "type": "mock"
        }
      }
    },
    "/lots/{lot_id}/meters": {
      "get": {
        "tags": [
          "lots",
          "meters"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "List Meters for a Lot",
        "operationId": "getMetersByLotId",
        "description": "Get list of Meters for a specific Lot",
        "parameters": [
          {
            "name": "lot_id",
            "in": "path",
            "description": "The ID of the Lot object",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Where to start the list",
            "required": false,
            "type": "string"
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "The number of records to get",
            "required": false,
            "type": "integer"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/MeterResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.querystring.start": "method.request.querystring.start",
            "integration.request.querystring.quantity": "method.request.querystring.quantity",
            "integration.request.path.lot_id": "method.request.path.lot_id"
          },
          "uri": "https://demo.citewriteit.com/lots/{lot_id}/meters",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "post": {
        "tags": [
          "lots",
          "meters"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Create and Link Meter to Lot",
        "description": "Create and link a Meter object to Lot",
        "operationId": "createAndLinkMeterToLotId",
        "parameters": [
          {
            "name": "lot_id",
            "in": "path",
            "description": "The ID of the Lot object",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The Meter object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Meter"
            }
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "201": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/MeterResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Location": {
                "type": "string",
                "description": "URI that may access the new linked resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.lot_id": "method.request.path.lot_id"
          },
          "uri": "https://demo.citewriteit.com/lots/{lot_id}/meters",
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      },
      "options": {
        "tags": [
          "lots",
          "meters"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "description": "Method or methods allowed when accessing the resource"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "description": "Used in response to a preflight request to indicate which HTTP headers can be used when making the request."
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,POST,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "type": "mock"
        }
      }
    },
    "/lots/{lot_id}/meters/{meter_id}": {
      "get": {
        "tags": [
          "lots",
          "meters"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get a Meter linked a Lot",
        "operationId": "getMeterByIdLinkedToLotId",
        "description": "Get a specific Meter linked to a specific Lot",
        "parameters": [
          {
            "name": "lot_id",
            "in": "path",
            "description": "The ID of the Lot object",
            "required": true,
            "type": "string"
          },
          {
            "name": "meter_id",
            "in": "path",
            "description": "The ID of the Meter object",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "description": "API Key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Not Implemented",
            "schema": {
              "$ref": "#/definitions/NotImplemented"
            }
          },
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/MeterResponse"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string",
                "description": "URI that may access the resource"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequest"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Unauthorized"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFound"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
[...]
