<ion-header>
    <ion-navbar>
      <ion-title>Available Permits</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="content">
    <div class="list-wrapper">
      <ion-list *ngFor="let permit of availablePermits">
        <button class="list-item item item-block item-md">
          <ion-row no-padding class="content-row one-line">
           
            <ion-col no-padding>
              <ion-icon name="pricetag"></ion-icon>
            </ion-col>
            
            <ion-col no-padding class="item-content">
              <h3 class="item-title">{{ permit.name }}</h3>
              <div class="item-description">
                <span>{{ permit.description }}</span>
              </div>
              <div class="item-description" *ngIf="permit.period_start_date">
                <span>{{ permit.period_start_date | date: "M/dd/yy" }}</span>—<span>{{ permit.period_end_date | date: "M/dd/yy" }}</span>  
              </div>  
            </ion-col>
          
          </ion-row>
        </button>
      </ion-list>
    </div>
  </ion-content>