pbm-available-permits {
	.content
	{
		background-color: color($colors, background, base);

		.list-wrapper
		{
			@include layout-list-styles($theme-color-2, $black-c);

			ion-list {
				.list-item
				{
					.content-row
					{
                        ion-icon
                        {
                            color: #757575;
                            font-size: 2.8rem;
                        }

						.item-title{
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						&.one-line
						{
							@include align-items(center);

							.item-description
							{
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
					}
				}
			}
		}
	}
}